.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

body{
  background-color: black;
}

img{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  border-radius: 20px;
}

.image{
  display: inline-block;
  margin: 20px;
  background-color: rgb(173, 195, 217);
  border: 2px solid black;
  border-radius: 24px;
}

p{
  height: 100px;
  width: 100px;
  text-overflow:initial;
  border: 2px solid black;
  border-radius: 20px;
  text-align: center;
  margin: auto;
  padding-top: 5px;
}

button{
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
}

.buttonThing{
  padding-bottom: 3px;
}
